html {
    font-size: 62.5%;
    font-family: 'Public Sans', sans-serif;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: $very-light-gray;
}
.container {
    width: 80%;
    margin: 0 auto;
    @include tablet-max{
        width: 85%;
    }
}
p {
    font-size: 1.5rem;
}