.article-section {
    margin-top: 17rem;
    @include tablet-max {
        margin-top: 10rem;
        text-align: center;
    }
    h2 {
        margin-bottom: 4rem;
    }
    .articles {
        display: flex;
        gap: 4rem;
        justify-content: space-between;
        align-items: center;
        @include tablet-max {
            flex-direction: column;
        }
        
    }
    .article {
        text-align: start;
        width: 30rem;
        background-color: $very-light-gray;
        img {
            display: block;
            width: 100%;
            margin: 0 auto;
            border-radius: .5rem .5rem 0 0;
        }
        span {
            display: block;
            margin-top: 2rem;
            color: $grayish-blue;
            font-size: 1.2rem;
        }
        h4 {
            cursor: pointer;
            margin: 2rem 0rem 1rem 0rem;
            &:hover {
                color: $lime-green;
            }
        }
        p {
            margin-bottom: 4rem;
        }
    }
}