
.header {
    background-color: white;
    height: 9rem;
}
.header-flex {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav {
        display: flex;
        @include laptop-max {
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 10rem;
            width: 85%;
            padding: 2rem 0rem;
            background-color: white;
            border-radius: .5rem;
            opacity: 0;
            transform: translateY(50%);
            transition: transform 1s ease, opacity 1s ease;
        }
        a {
            text-decoration: none;
            font-size: 2rem;
            margin-right: 1.8rem;
            color: $grayish-blue;
            padding: 1rem;
            @include tablet-max {
                margin: 0;
            }
            &:last-of-type {
                margin-right: 0;
            }
            &:hover {
                background-color: $ligth-grayish-blue;
                border-radius: 3rem;
            }
        }
    }
    .submit-button {
        background: linear-gradient(to right, $lime-green, $bright-cyan );
        width: 18rem;
        height: 55%;
        display: grid;
        place-items: center;
        color: white;
        border-radius: 3rem;
        cursor: pointer;
        p {
            font-weight: bold;
            color: white;
        }
        @include laptop-max {
            display: none;
        }
        &:hover {
            opacity: .8;
        }
    }
    .hamburger {
        cursor: pointer;
        @include laptop{
            display: none;
        }
    }
    .mostrar {
            opacity: 1;
            transform: translateY(0%);
    }
}


