.main {
    position: relative;
    overflow: hidden;
    @include tablet-max {
        flex-direction: column;
        height: auto;
    }
    .main-flex {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        @include tablet-max {
            flex-direction: column;
            gap: 5rem;
        }
    }
    .layout { //layout is just for .phones
        display: flex;
        justify-content: flex-end;
        @include tablet-max {
            justify-content: center;
        }
        .desktop_layout { //desktop and mobile_desktop are being relative to .main
            position: absolute;
            top: -28rem;
            z-index: -1;
            @include tablet-max { //de 768px para abajo se aplican las propiedades
                display: none;
            }
            @include laptop {
                right: -50rem;
            }
            @include desktop {
                right: -43rem;
            }
        }
        .mobile_layout {
            position: absolute;
            left: 0;
            top: -15rem;
            width: 110%;
            z-index: -1;
            @include tablet {  //de 768px para arriba se aplican las propiedades
                display: none;
            }
        }
        .phones {
            display: block;
            margin-top: -13rem;
            margin-right: -30rem;
            z-index: -1;
            @include tablet-max {
                width: 100%;
                margin-right: 0;
                margin-top: -15rem;
            }
        }
    }
    .text-main {
        @include tablet-max {
            text-align: center;
        }
        @include laptop {
            flex-basis: 50%;
        }
        @include desktop {
            flex-basis: 41%;
        }
        h1 {
            margin-bottom: 1.5rem;
        }
        
        p {
            line-height: 2rem;
            @include tablet {
                font-size: 2rem;
                line-height: 2.5rem;
            }
        }
        .button {
            background: linear-gradient(to right, $lime-green, $bright-cyan );
            width: 18rem;
            height: 5rem;
            border-radius: 3rem;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 4rem;
            @include tablet-max {
                margin: 4rem auto 0 ;
                height: 4.5rem;
            }
            p {
                color: white;
                margin: 0;
                font-size: 1.5rem;
                font-weight: bold;
            }
            &:hover {
                opacity: .8;
            }
        }
    }
}

